---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import thisIsFine from "../utils/giphy.gif"
---

<Layout title="404 Not Found">
<div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">No hay nada por aquí, pero tomate un café...</h1>
    <Image src={thisIsFine} alt="Perrito en llamas diciendo this is fine..."/>
</div>
</Layout>