---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
<h1>
    About the project
</h1>
<p>
    El proyecto SpaceX launches es una demo del curso de Astro
</p>

</Layout>