---
import '../styles/main.css'
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
<h1 class="italic text-xl text-center font-bold py-10">
    About the project
</h1>
<p class=" text-center font-semibold font-serif">
    The project SpaceX is a demo of Astro-Course given by MiduDev
</p>

</Layout>